div{
    width: 80%;
    margin: 30px auto;
    height: 90vh;
    line-height: 2;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    direction: rtl;
    scrollbar-width: 12px;
    scrollbar-color:red;
}
div::-webkit-scrollbar {
    width: 12px;
  }
  
  div::-webkit-scrollbar-track {
    background-color: #4f3db3;
  }
  
  /* تغيير لون المقبض */
  div::-webkit-scrollbar-thumb {
    background-color: green;
  }
  
  /* تغيير لون المقبض عند التمرير عليه */
  div::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 194, 92);
  }
  